* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    font-family: 'Nunito', sans-serif;
     background-color: #fff; /* Fondo claro */
    color: #333; /* Texto oscuro */
    transition: background-color 0.3s, color 0.3s;
}

header {
    background-color: #333;
    color: white;

}
.dark-mode {
    background-color: #333;
    color: #ccc;
}

.theme-toggle {
    padding: 10px;
    background-color: #333;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.theme-toggle i {
    transition: opacity 0.3s ease;
}

.theme-toggle .fa-sun {
    opacity: 100; /* Visible en modo claro */
    color:  #FFD700;
     padding: 10 20px;
}

.theme-toggle .fa-moon {
    opacity: 0; /* Oculto en modo claro */
}

.dark-mode .theme-toggle .fa-sun {
    opacity: 0; /* Oculto en modo oscuro */
}

.dark-mode .theme-toggle .fa-moon {
    opacity: 100; /* Visible en modo oscuro */
    color: #B0C4DE;
    padding: 10 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10 20px;
}
.logo {
    display: flex; /* Asegura que el logo y el texto estén en línea */
    align-items: center; /* Centra verticalmente el texto con el logo */
    gap: 10px; /* Espacio entre el logo y el texto */
}
.logo img {
    height: 60px; /* es el tamaño de logo */
    padding: 0 20px;
}
.logo-text {
    color: white; /* El color del texto, asegúrate de que sea visible contra el fondo del navbar */
    font-size: 20px; /* Tamaño del texto */
    font-weight: bold; /* Peso de la fuente del texto */
    font-family: 'Nunito', sans-serif;
}

.navbar {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.navbar li {
    padding: 10px 20px;
}

.navbar a {
    text-decoration: none;
    color:#69468C;
    font-weight: bold;
}

.navbar a:hover {
    color: #f0f0f0;
}

section {
    padding: 0px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

.profile-image {
    max-width: px;
    width:100%;
}

.carousel {
    position: relative;
    max-width: 10000000px;
    margin: auto;
    width:100%;

}

.slides {

    position: absolute;

}

.slide img {
    width: 500%;
    border-radius: 15px; /* Bordes redondeados para las imágenes */
    width:100%;

}

.btn {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 10px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0,0,0,0.8);
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
    position: absolute;
}

.prev {
    left: 0;
    border-radius: 0 3px 3px 0;
    position: absolute;
}

footer {
    text-align:center;
    padding:5px;
    background-color:#69468C;
    color:white;
    width:100%;
    bottom:0;
    font-family: 'Nunito', sans-serif;
}
#toTopBtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    display: none; /* Ocultar inicialmente */
}

#toTopBtn:hover {
    background-color: #555; /* Cambiar el color de fondo al pasar el mouse */
}
.card{
   align-items: center;


}
.social-icon {
  font-size: 24px; /* Tamaño del ícono */
  margin: 10px;    /* Espaciado entre íconos */
  color: #69468C;     /* Color de los íconos */
  text-decoration: none; /* Remover el subrayado de los enlaces */
}

.social-icon:hover {
  color: #411d66; /* Color al pasar el mouse */
}